<%= form_for @post, remote: true do |f| %>
  <div class="form-group">
    <p>New post</p>
    <%= f.text_area :content, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit plain , class: "btn btn-light" %>
  </div>
<% end %>