<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom header">
  <div class="container">
    <%= link_to "Test Project", root_path, class: "vendor nav-link" %>
    <ul class="nav justify-content-end">
      <%= header_logic %>
    </ul>
  </div>
</nav>
<br/>
