<li class="nav-item signup">
  <i class="fas fa-user"></i>
  <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
</li>
<li class="nav-item login">
  <i class="fas fa-sign-in-alt"></i>
  <%= link_to "Login", new_user_session_path, class: "nav-link" %>
</li>
