/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

.like:hover {
	text-decoration: none;
}

.pagination{
	font-size: 16px;
	a {
		padding: 5px;
		text-decoration: none;
		border-radius: 3px;
		transition: all 0.4s;
	}
	a:hover {
		transition: all 0.4s;
		background-color: #99deff;
	}
}

.previous_page, .next_page {
	padding: 5px;
	text-decoration: none;
}

.current {
	padding: 5px;
	padding-top: 5px;
	border-radius: 3px;
	text-decoration: none;
}

.disabled{
	border-radius: 3px;
	text-decoration: none;
}